<script id="book" type="text/x-handlebars-template">

    {{#each chips_data}}
    <span data-planer-id="{{planer_id}}" class="sailplane-model">
        {{planer_id}}
        <i class="ion-close-round close-chips"></i>
    </span>
    {{/each}}
</script>